parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$data of function unserialize expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Authentication/Provider/SessionAuthenticationProvider.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Authentication/Storage/DriverBackedTokenStorage.php

		-
			message: '#^Cannot access offset ''allowed_origins'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''blocked_ip_addresses'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''connections'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''context'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''dbal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''identity'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''interval'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''keepalive'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''max_http_request_size'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''periodic'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''providers'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''resource'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''router'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''session'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset ''uri'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Cannot access offset non\-empty\-string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Parameter \#1 \$id of class Symfony\\Component\\DependencyInjection\\Reference constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Parameter \#1 \$sessionConfig of method BabDev\\WebSocketBundle\\DependencyInjection\\BabDevWebSocketExtension\:\:configureWebSocketSession\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Parameter \#2 \$config of method BabDev\\WebSocketBundle\\DependencyInjection\\Factory\\Authentication\\AuthenticationProviderFactory\:\:createAuthenticationProvider\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Parameter \#2 \$config of method Symfony\\Component\\DependencyInjection\\Extension\\Extension\:\:isConfigEnabled\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/BabDevWebSocketExtension.php

		-
			message: '#^Argument of an invalid type array\|bool\|float\|int\|string\|null supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/DependencyInjection/Compiler/PingDBALConnectionsCompilerPass.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method defaultNull\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method end\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method ifTrue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method info\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method thenInvalid\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method validate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Cannot call method variableNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(BabDev\\WebSocketBundle\\Routing\\Loader\\AttributeLoader\) and ''setRouteAttributeCl…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#1 \$class of function class_exists expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#1 \$path of method Symfony\\Component\\Routing\\Loader\\AttributeClassLoader\:\:createRoute\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#1 \$resource of class Symfony\\Component\\Config\\Resource\\FileResource constructor expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Cannot use array destructuring on \(list\<\(BabDev\\WebSocket\\Server\\WAMP\\WAMPConnection&PHPUnit\\Framework\\MockObject\\MockObject\)\|string\>\)\|null\.$#'
			identifier: offsetAccess.nonArray
			count: 5
			path: tests/Authentication/StorageBackedConnectionRepositoryTest.php

		-
			message: '#^Cannot use array destructuring on \(list\<\(PHPUnit\\Framework\\MockObject\\MockObject&Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\)\|string\>\)\|null\.$#'
			identifier: offsetAccess.nonArray
			count: 5
			path: tests/Authentication/StorageBackedConnectionRepositoryTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: tests/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactoryTest.php
