parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Authentication/Storage/DriverBackedTokenStorage.php

		-
			message: '#^Argument of an invalid type array\|bool\|float\|int\|string\|null supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/DependencyInjection/Compiler/PingDBALConnectionsCompilerPass.php

		-
			message: '#^Parameter \#1 \$class of function class_exists expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#1 \$resource of class Symfony\\Component\\Config\\Resource\\FileResource constructor expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: '#^Cannot use array destructuring on \(list\<\(BabDev\\WebSocket\\Server\\WAMP\\WAMPConnection&PHPUnit\\Framework\\MockObject\\Stub\)\|string\>\)\|null\.$#'
			identifier: offsetAccess.nonArray
			count: 5
			path: tests/Authentication/StorageBackedConnectionRepositoryTest.php

		-
			message: '#^Cannot use array destructuring on \(list\<\(PHPUnit\\Framework\\MockObject\\MockObject&Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\)\|string\>\)\|null\.$#'
			identifier: offsetAccess.nonArray
			count: 5
			path: tests/Authentication/StorageBackedConnectionRepositoryTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: tests/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactoryTest.php
