parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$data of function unserialize expects string, mixed given\\.$#"
			count: 1
			path: src/Authentication/Provider/SessionAuthenticationProvider.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Authentication/Storage/DriverBackedTokenStorage.php

		-
			message: "#^Method Symfony\\\\Component\\\\HttpKernel\\\\CacheWarmer\\\\WarmableInterface\\:\\:warmUp\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/CacheWarmer/RouterCacheWarmer.php

		-
			message: "#^Argument of an invalid type array\\|bool\\|float\\|int\\|string\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/PingDBALConnectionsCompilerPass.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactory.php

		-
			message: "#^Call to an undefined static method Symfony\\\\Component\\\\Routing\\\\Loader\\\\AnnotationClassLoader\\:\\:__construct\\(\\)\\.$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Method BabDev\\\\WebSocketBundle\\\\Routing\\\\Loader\\\\AttributeLoader\\:\\:configureRoute\\(\\) has parameter \\$class with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Method BabDev\\\\WebSocketBundle\\\\Routing\\\\Loader\\\\AttributeLoader\\:\\:getDefaultRouteName\\(\\) has parameter \\$class with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Parameter \\#1 \\$class of function class_exists expects string, mixed given\\.$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Routing/Loader/AttributeLoader.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: tests/DependencyInjection/Factory/Authentication/SessionAuthenticationProviderFactoryTest.php
